body{ 
	font-family: Lucida Grande, sans-serif;
  /* Default text is Lucida Grande font with a sans-serif as a fallback option*/

}
h1{
	font-size: 64px;
	text-align: center;

  /* Header 1 is 64px, centered */
  
}
h2{
	font-size: 30px;
	text-align: center;
	color: #808080;
	text-shadow: 5px 5px 2px;

  /* Header 2 is 30px, with grey (#808080) drop shadow that is offset 5px horizontally, 5px vertically, and 2px blur */
}
p{
	font-size: 24px;
	padding-top:20px;
	
  /* Paragraphs use 24px font and have 20px padding on the top only*/
  
}
a{
	
  /* make your links red, italics, and underlined */
  
}
a:hover, a:focus{
	
  /* make the background color of your link black and the text white when you hover over it */
  
}
ul{
  /* make bullet points red squares */
  
}
img{

  /* make the image 300px wide and 220px high, 10px of padding, and a 3px dashed border in the color of your choice */
 
}
footer{

  /* style the footer so it has a black background and white text */
  
}

li{
	
}
.odd{
	
}

